<div class= "disney_wrapper">
<ul>
  <li>Name: <%= @disney_character_info.character_name %></li>
  <li><img src="<%= @disney_character_info.img_url %>">
  <li>Quote: <%= @disney_character_info.quote %></li>
</ul>


<p>Check out how your Senator voted on these issues:</p>

<%= render 'votes' %>

<%= link_to "Search Again!", root_path %>
</div>


