<ul>
  <li>Name: <%= @senator.first_name + " " + @senator.last_name %></li>
  <li>Call <%= @senator.first_name %>: <%= @senator.phone %></li>
  <li>Website: <%= @senator.website %></li>
  <li>Twitter Handle: <%= @senator.twitter_id %></li>
</ul>



