<div class="senator_wrapper">
<ul>
  <li> <img src="http://emailblog.eu/wp-content/uploads/2012/12/us_senate_fisa_amendments_act.jpg"> </li>
  <li><span>Name:</span> <%= @senator.first_name + " " + @senator.last_name %></li>
  <li><span>Call:</span> <%= @senator.first_name %>: <%= @senator.phone %></li>
  <li><span>Website:</span> <%= @senator.website %></li>
  <li><span>Twitter Handle:</span> <%= @senator.twitter_id %></li>
</ul>


<li>
<%= link_to "Disney!!",  disney_senator_path %>
</li>
</div>





