<div class="senator_wrapper">
<ul>
  <li> <img src="http://emailblog.eu/wp-content/uploads/2012/12/us_senate_fisa_amendments_act.jpg"> </li>
  <li>Name: <%= @senator.first_name + " " + @senator.last_name %></li>
  <li>Call <%= @senator.first_name %>: <%= @senator.phone %></li>
  <li>Website: <%= @senator.website %></li>
  <li>Twitter Handle: <%= @senator.twitter_id %></li>
</ul>


<li>
<%= link_to "Disney!!",  disney_senator_path %>
</li>
</div>





